<div class="accordion" id="basic-accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#basic-collapseOne">
        level1 Score:10
      </a>
    </div>
    <div id="basic-collapseOne" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        Requirements: HTML. <%= link_to 'Take this', wargame_basic_level1_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#basic-collapseTwo">
        level2 Score:20
      </a>
    </div>
    <div id="basic-collapseTwo" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        Requirements: HTML. <%= link_to 'Take this', wargame_basic_level2_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#basic-collapseThree">
        level3 Score:30
      </a>
    </div>
    <div id="basic-collapseThree" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        Requirements: Binary Operation knowledge. <%= link_to 'Take this', wargame_basic_level3_path %>
      </div>
    </div>
  </div>
</div>