<div class="accordion" id="reverse-accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#reverse-accordion" href="#reverse-collapseOne">
        level1 Score:100
      </a>
    </div>
    <div id="reverse-collapseOne" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        Requirements: Basic reversing technique. <%= link_to 'Take this', wargame_reverse_level1_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#reverse-accordion" href="#reverse-collapseTwo">
        level2 Score:200
      </a>
    </div>
    <div id="reverse-collapseTwo" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        Requirements: Basic assembly technique. <%= link_to 'Take this', wargame_reverse_level2_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#reverse-accordion" href="#reverse-collapseThree">
        level3 Score:300
      </a>
    </div>
    <div id="reverse-collapseThree" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        Not yet ready. <%= link_to 'Take this', wargame_reverse_level3_path, :disabled => true %>
      </div>
    </div>
  </div>
</div>
