<div class="accordion" id="crypto-accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#crypto-accordion" href="#crypto-collapseOne">
        level1 Score:100
      </a>
    </div>
    <div id="crypto-collapseOne" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        Requirements: Basic crypto technique. <%= link_to 'Take this', wargame_crypto_level1_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#crypto-accordion" href="#crypto-collapseTwo">
        level2 Score:200
      </a>
    </div>
    <div id="crypto-collapseTwo" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        Requirements: Crypto decryption program writing. <%= link_to 'Take this', wargame_crypto_level2_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#crypto-accordion" href="#crypto-collapseThree">
        level3 Score:300
      </a>
    </div>
    <div id="crypto-collapseThree" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        Requirements: Steganography. <%= link_to 'Take this', wargame_crypto_level3_path %>
      </div>
    </div>
  </div>
</div>
