<div id="bolb" class="page-header">
  <div class="columns-12">
  <%= image_tag "MUCTF-mark.png", width: "940px", alt: "MUCTF", :class => 'monkey' %><br>
  <% if user_signed_in? %>
    <%= link_to t("page_partial.title.challenge"), wargame_path, class: "btn btn-large btn-danger" %>
  <% else %>
    <%= link_to t("page_partial.title.registration"), register_path, class: "btn btn-large btn-primary" %>
  <% end %>
  </div>
</div>