<div id="bolb" class="page-header">
  <div class="columns-12">
  <p id="war">Do<span>c</span>k<span>er</span></p><p id="sub"><span>W</span><span>ar</span></p>
  <% if user_signed_in? %>
    <%= link_to "Take Challenges!", wargame_path, class: "btn btn-large btn-danger" %>
  <% else %>
    <%= link_to "Sign up now!!", register_path, class: "btn btn-large btn-primary" %>
  <% end %>
  </div>
</div>