<ul id="scene" class="scene">
  <li class="layer" data-depth="0.00"></li>
  <li class="layer" data-depth="0.10"><div class="background"></div></li>
  <li class="layer" data-depth="0.10"><div class="light orange b phase-3"></div></li>
  <li class="layer" data-depth="0.10"><div class="light purple c phase-4"></div></li>
  <li class="layer" data-depth="0.10"><div class="light orange d phase-5"></div></li>
  <li class="layer" data-depth="0.15"></li>
  <li class="layer" data-depth="0.20"><div class="wave paint depth-20"></div></li>
  <li class="layer" data-depth="0.30"></li>
  <li class="layer" data-depth="0.30"><div class="wave paint depth-30"></div></li>
  <li class="layer" data-depth="0.30"><div class="wave paint depth-30"></div></li>
  <li class="layer" data-depth="0.40"><div class="wave paint depth-40"></div></li>
  <li class="layer" data-depth="0.50"><div class="wave paint depth-50"></div></li>
  <li class="layer" data-depth="0.60"></li>
  <li class="layer" data-depth="0.60"><div class="wave paint depth-60"></div></li>
  <li class="layer" data-depth="0.60"><div class="wave paint depth-60"></div></li>
  <li class="layer" data-depth="0.60"><div class="wave paint depth-60"></div></li>
  <li class="layer" data-depth="0.80"><div class="wave paint depth-80"></div></li>
  <li class="layer" data-depth="1"><div class="wave paint depth-100"></div></li>
</ul>
<script>
  var $scene = $('#scene').parallax();
</script>