<h1 style="color: red">Play fair, have fun.  Don't be a jerk.</h1>

<div>
  <h1>Infrastructure</h1>
</div>

<span>
  <ul>
    <li class="rulelists"><p>Please do not attack any infrastructure or related domains. Perhaps We can give out points to players who come forward about potential mistakes we've made.</p></li>
    <li class="rulelists"><p>Denial of service attacks on any challenge will not be tolerated, unless the challenge calls for such an attack.</p></li>
    <li class="rulelists"><p>Guessing flags will not be tolerated.</p></li>
  </ul>
</span>