@import "bootstrap";
@import "font-awesome";
@import 'nprogress';
@import 'nprogress-bootstrap';
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  background-color: lightgoldenrodyellow;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.downalittle {
  margin-top: 40px;
}

/* modify bootstrap's table css */

.table {
  th,
  td {
    text-align: center;
    vertical-align: middle;
  }
}

.table-condensed {
  th,
  td {
    padding: 4px 1px;
  }
}

td:nth-child(1) {
  width: 2%;
}

td:nth-child(2) {
  width: 15%;
}

td:nth-child(3) {
  width: 3%;
}

td:nth-last-child(1) {
  width: 20%;
}

/* div pic */

.t0 {
  background: gray;
}

.t1 {
  background: #24b3ef;
}

.t1,
.t0 {
  position: relative;
  left: 30%;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

/*table {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:100%;
  border-collapse:collapse;
  p {
    margin: 3px 0px 3px 0px;
  }
  td th {
    font-size:1em;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
  }
  th {
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color: #ccc;
    border-right-style:dotted;
    border-width: 1px;
  }

  tr {
    border-right-style:dotted;
    border-width: 1px;
  }

  tr td {
    border-bottom: #666666 1px dotted;
    background: #ecf6fc;
    text-align: center;
  }

  tr.over td {
    background: #bcd4ec;
    cursor: pointer;
  }

  tr.alt td {
    color:#000000;
    background-color:#EAF2D3;
  }

  .important {
    color: #FF0000;
  }
}*/

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.btn-small {
  float: left;
  margin-right: 10px;
  font-size: $baseFontSize;
  color: white;
  letter-spacing: 0px;
  padding: 4px 10px 4px;
  line-height: $baseLineHeight;
  text-align: center;
  background: forestgreen;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  &:hover {
    background-color: darken(forestgreen, 5%);
    background-position: 0 -15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.wrapper {
  min-height: 600px;
  overflow: hidden;
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
}

@media (min-width: 400px) {
  .wrapper {
    min-height: 400px;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Circle Avatar Styles */

.circle {
  line-height: 0;		/* remove line-height */
  display: inline-block;	/* circle wraps image */
  margin: 5px;
  border-radius: 50%;	/* relative value */
  border: 3px solid white;/* border width   */
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  transition: linear 0.25s;
}
.circle img {
  border-radius: 50%;	/* relative value for
				   adjustable image size */
}
.circle:hover {
  transition: ease-out 0.3s;
  transform: scale(0.8) rotate(20deg);
}
a.circle { color: transparent; } /* IE fix: removes blue border */

/* Categories */

.label .badge {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

/*code attr*/
code {
  text-align: left;
  color: blue;
}

/* sobug_css */

.panel-segment-header-note {
  position: relative;
  width: 50px;
  height: 60px;
  font-weight: bold;
  font-size: 35px;
  color: #54b931;
  text-align: right;
  padding-right: 7px;
  border-right: 2px solid #e2e2e2;
}

.panel-segment-header-main {
  position: relative;
  top: -60px;
  height: 60px;
  padding-left: 5px;
  display: inline-block;
}

.panel-segment-title2 {
  font-size: 22px;
  //max-width: 450px;
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  _word-wrap: break-word;
  border-bottom: 2px solid #e2e2e2;
}

.panel-segment-title3 {
  color: #9d9d9d;
  font-size: 16px;
  margin-top: 10px;
}

.fix-size {
  height: 60px;
}
/* form upload */

.left {
  float: left;
}
.both {
  clear: both;
}
.file-upload-container {
  //width:400px;
  border: 1px solid #efefef;
  padding:10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #fbfbfa;
}
.file-upload-override-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color:#79bbff;
}
.file-upload-override-button:hover {
  background-color:#378de5;
}
.file-upload-override-button:active {
  position:relative; top:1px;
}
.file-upload-button {
  position: absolute;
  height: 50px;
  top: -10px;
  left: -10px;
  cursor: pointer;
  opacity: 0;
  filter:alpha(opacity=0);
}
.file-upload-filename {
  margin-left: 10px;
  height: auto;
  padding: 8px;
}

/* Docker-War Animation */

#bolb {
  font-size: 3em;
  text-transform: uppercase;
  text-shadow: 0 0 40px red,0 0 10px FireBrick,0 0 6px DarkRed;
  color: red;
  p {
    font-family: 'Monoton', cursive;
  }
}
#war:hover { text-shadow: 0 0 200px #ffffff,0 0 30px #000000,0 0 6px #0000ff; }
#sub:hover { text-shadow: 0 0 100px red,0 0 40px FireBrick,0 0 8px DarkRed; }
#war {
  color: #fff;
  text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}
#war span {
  animation: upper 11s linear infinite;
  -moz-animation: upper 11s linear infinite;
  -webkit-animation: upper 11s linear infinite;
  -o-animation: upper 11s linear infinite;
}
#sub span:nth-of-type(2) {
  animation: lower 10s linear infinite;
  -moz-animation: lower 10s linear infinite;
  -webkit-animation: lower 10s linear infinite;
  -o-animation: lower 10s linear infinite;
}
#sub span:nth-of-type(1) {
  text-shadow: none;
  opacity: 0.4;
}
@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity: 0.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none;
  }
}
@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% {
    opacity:0.4; text-shadow: none;
  }
}
@-moz-keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity: 0.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none;
  }
}
@-moz-keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% {
    opacity:0.4; text-shadow: none;
  }
}
@-webkit-keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity: 0.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none;
  }
}
@-webkit-keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% {
    opacity:0.4; text-shadow: none;
  }
}
@-o-keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity: 0.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none;
  }
}
@-o-keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% {
    opacity:0.4; text-shadow: none;
  }
}

/* alert box self define */

.alert-announcement {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

/* Home page Parallax JS effect */

ul.scene {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.scene {
  min-height: 601px;
  position: relative;
  overflow: hidden;
  .layer {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 400px) {
  .scene {
    min-height: 401px;
  }
}

@media (min-width: 600px) {
  .scene {
    min-height: 501px;
  }
}

@media (min-width: 900px) {
  .scene {
    min-height: 601px;
  }
}

@media (min-width: 1200px) {
  .scene {
    min-height: 701px;
  }
}

.layer div {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.background {
  background-image: asset-data-url('home/background.jpg');
  background-repeat: no-repeat;
  bottom: 96px;
  background-size: cover;
  position: absolute;
  width: 110%;
  min-height: 100%;
  left: -5%;
  top: -55%;
}

@media (min-width: 600px) {
  .background {
    bottom: 96px;
  }
}

@media (min-width: 900px) {
  .background {
    bottom: 160px;
  }
}

.light {
  margin: -120px -120px;
  background-size: 240px 240px;
  height: 240px;
  width: 240px;
  background-repeat: no-repeat;
  bottom: 112px;
  position: absolute;
  left: 50%;
}

.light {
  &.orange {
    background-image: asset-data-url('home/light-orange.png');
  }
  &.purple {
    background-image: asset-data-url('home/light-purple.png');
  }
}

.light {
  &.b {
    bottom: 80px;
    left: 30%;
  }
  &.c {
    bottom: 112px;
    left: 45%;
  }
  &.d {
    bottom: 96px;
    left: 60%;
  }
}

.light {
  &.phase-3 {
    -webkit-animation: phase 16s 0.1s infinite linear;
    -moz-animation: phase 16s 0.1s infinite linear;
    animation: phase 16s 0.1s infinite linear;
  }
  &.phase-4 {
    -webkit-animation: phase 14s 0.1s infinite linear;
    -moz-animation: phase 14s 0.1s infinite linear;
    animation: phase 14s 0.1s infinite linear;
  }
  &.phase-5 {
    -webkit-animation: phase 12s 0.1s infinite linear;
    -moz-animation: phase 12s 0.1s infinite linear;
    animation: phase 12s 0.1s infinite linear;
  }
}

@media (min-width: 600px) {
  .light {
    &.b {
      bottom: 144px;
    }
    &.c {
      bottom: 192px;
    }
    &.d {
      bottom: 160px;
    }
  }
}

@media (min-width: 600px) {
  .light {
    margin: -140px -140px;
    background-size: 280px 280px;
    height: 280px;
    width: 280px;
  }
}

@media (min-width: 900px) {
  .light {
    &.b {
      bottom: 160px;
    }
    &.c {
      bottom: 208px;
    }
    &.d {
      bottom: 176px;
    }
  }
}

@media (min-width: 900px) {
  .light {
    margin: -160px -160px;
    background-size: 320px 320px;
    height: 320px;
    width: 320px;
  }
}

@media (min-width: 1200px) {
  .light {
    margin: -200px -200px;
    background-size: 400px 400px;
    height: 400px;
    width: 400px;
  }
}

.wave {
  background: transparent repeat-x;
  position: absolute;
  width: 300%;
  left: -100%;
  &.paint {
    background-image: asset-data-url('home/wave-paint.png');
  }
  &.depth-30 {
    -webkit-animation: wave 7.11111s 0.1s infinite linear;
    -moz-animation: wave 7.11111s 0.1s infinite linear;
    animation: wave 7.11111s 0.1s infinite linear;
    bottom: 100px;
    margin: 0px 0px;
    background-size: 120px 48px;
    height: 48px;
  }
  &.depth-40 {
    -webkit-animation: wave 6.66667s 0.1s infinite linear;
    -moz-animation: wave 6.66667s 0.1s infinite linear;
    animation: wave 6.66667s 0.1s infinite linear;
    bottom: 80px;
    margin: 0px 0px;
    background-size: 160px 64px;
    height: 64px;
  }
  &.depth-50 {
    -webkit-animation: wave 6.22222s 0.1s infinite linear;
    -moz-animation: wave 6.22222s 0.1s infinite linear;
    animation: wave 6.22222s 0.1s infinite linear;
    bottom: 60px;
    margin: 0px 0px;
    background-size: 200px 80px;
    height: 80px;
  }
  &.depth-60 {
    -webkit-animation: wave 5.77778s 0.1s infinite linear;
    -moz-animation: wave 5.77778s 0.1s infinite linear;
    animation: wave 5.77778s 0.1s infinite linear;
    bottom: 40px;
    margin: 0px 0px;
    background-size: 240px 96px;
    height: 96px;
  }
  &.depth-80 {
    -webkit-animation: wave 4.88889s 0.1s infinite linear;
    -moz-animation: wave 4.88889s 0.1s infinite linear;
    animation: wave 4.88889s 0.1s infinite linear;
    bottom: 0px;
    margin: 0px 0px;
    background-size: 320px 128px;
    height: 128px;
  }
  &.depth-100 {
    -webkit-animation: wave 4s 0.1s infinite linear;
    -moz-animation: wave 4s 0.1s infinite linear;
    animation: wave 4s 0.1s infinite linear;
    bottom: -40px;
    margin: 0px 0px;
    background-size: 400px 160px;
    height: 160px;
  }
}

@media (min-width: 600px) {
  .wave {
    &.depth-30 {
      bottom: 150px;
      margin: 0px 0px;
      background-size: 180px 72px;
      height: 72px;
    }
    &.depth-40 {
      bottom: 120px;
      margin: 0px 0px;
      background-size: 240px 96px;
      height: 96px;
    }
    &.depth-50 {
      bottom: 90px;
      margin: 0px 0px;
      background-size: 300px 120px;
      height: 120px;
    }
    &.depth-60 {
      bottom: 60px;
      margin: 0px 0px;
      background-size: 360px 144px;
      height: 144px;
    }
    &.depth-80 {
      bottom: 0px;
      margin: 0px 0px;
      background-size: 480px 192px;
      height: 192px;
    }
    &.depth-100 {
      bottom: -60px;
      margin: 0px 0px;
      background-size: 600px 240px;
      height: 240px;
    }
  }
}

@media (min-width: 900px) {
  .wave {
    &.depth-30 {
      bottom: 150px;
      margin: 0px 0px;
      background-size: 180px 72px;
      height: 72px;
    }
    &.depth-40 {
      bottom: 136px;
      margin: 0px 0px;
      background-size: 272px 108.8px;
      height: 109px;
    }
    &.depth-50 {
      bottom: 102px;
      margin: 0px 0px;
      background-size: 340px 136px;
      height: 136px;
    }
    &.depth-60 {
      bottom: 68px;
      margin: 0px 0px;
      background-size: 408px 163.2px;
      height: 163px;
    }
    &.depth-80 {
      bottom: 0px;
      margin: 0px 0px;
      background-size: 544px 217.6px;
      height: 218px;
    }
    &.depth-100 {
      bottom: -68px;
      margin: 0px 0px;
      background-size: 680px 272px;
      height: 272px;
    }
  }
}

@media (min-width: 1200px) {
  .wave {
    &.depth-30 {
      bottom: 180px;
      margin: 0px 0px;
      background-size: 216px 86.4px;
      height: 86px;
    }
    &.depth-40 {
      bottom: 144px;
      margin: 0px 0px;
      background-size: 288px 115.2px;
      height: 115px;
    }
    &.depth-50 {
      bottom: 108px;
      margin: 0px 0px;
      background-size: 360px 144px;
      height: 144px;
    }
    &.depth-60 {
      bottom: 72px;
      margin: 0px 0px;
      background-size: 432px 172.8px;
      height: 173px;
    }
    &.depth-80 {
      bottom: 0px;
      margin: 0px 0px;
      background-size: 576px 230.4px;
      height: 230px;
    }
    &.depth-100 {
      bottom: -72px;
      margin: 0px 0px;
      background-size: 720px 288px;
      height: 288px;
    }
  }
}

.about .panel header {
  padding: 1em 0 1em;
}

.about .panel, .about .cables {
  -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.cell {
  vertical-align: middle;
  display: table-cell;
}

.accelerate {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.about .panel, .about .cables {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

.about .panel {
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  background: #f2f2f2 asset_data_url('home/panel.jpg') -7px 0;
  background-size: 399px 357px;
}

.about .panel .links {
  zoom: 1;
  -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.about .panel ul {
  margin: 0px 0px 0px 0px;
}

.about .panel .links li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 50%;
}

.about .panel .links li a {
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.about .panel .links a {
  -webkit-font-smoothing: antialiased;
  font-size: 1.33333em;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1em 0 1.1em;
  display: block;
  text-decoration: none;
  color: #d92400;
  &:hover {
    background: red;
    color: white
  }
}

@media (min-width: 900px) {
  .about .panel .links a {
    padding: 1.2em 0 1.3em;
  }
}

.about .cables {
  -webkit-transform-origin: 50% -100%;
  -moz-transform-origin: 50% -100%;
  transform-origin: 50% -100%;
}

.about.hide .cables {
  -webkit-transform: translate3d(0,-10%,0) rotateX(-90deg);
  -moz-transform: translate3d(0,-10%,0) rotateX(-90deg);
  transform: translate3d(0,-10%,0) rotateX(-90deg);
  opacity: 0;
}


.about {
  -webkit-font-smoothing: auto;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  color: #666666;
  margin-top: -400px;
}

.panel {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  position: relative;
}

#toggle {
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-size: 1.33333em;
  line-height: 45.6px;
  font-family: "Dosis", sans-serif;
  background-color: #f2f2f2;
  font-weight: 600;
  height: 48px;
  width: 48px;
  position: relative;
  display: block;
  margin: 0 auto;
  outline: none;
  border: none;
}

#toggle {
  -webkit-transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    background: red;
  }
}

@media (min-width: 600px) {
  #toggle {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    height: 56px;
    width: 56px;
  }
}

#toggle.toggle {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  margin: -24px;
  position: absolute;
  left: 50%;
}

@media (min-width: 400px) {
  #toggle.toggle {
    bottom: 2%;
  }
}

@media (min-width: 600px) {
  #toggle.toggle {
    margin: -28px;
    bottom: 6%;
  }
}

@media (min-width: 900px) {
  #toggle.toggle {
    margin: -28px;
    bottom: 10%;
  }
}

.cross {
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
}

.cross .x, .cross .y {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #1d1f27;
  height: 4px;
  width: 4px;
  margin: -2px;
  position: absolute;
  left: 0;
  top: 0;
}

.cross, .x, .y {
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cross .x {
  margin-left: -12px;
  margin-top: -2px;
  width: 24px;
}

.cross .y {
  margin-top: -12px;
  height: 24px;
}

.toggle.i .cross {
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

.toggle.i .cross .x {
  margin-left: -2px;
  width: 4px;
  margin-top: -12px;
}

.toggle.i .cross .y {
  margin-top: -4px;
  height: 16px;
}

/* Login Form */

.logmod {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.logmod::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__wrapper {
  display: block;
  background: #FFF;
  position: relative;
  max-width: 550px;
  border-radius: 4px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
}
.logmod__close {
  display: block;
  position: absolute;
  right: 50%;
  background: url("http://imgh.us/close_white.svg") no-repeat scroll 0% 0% transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  top: -72px;
  margin-right: -24px;
  width: 48px;
  height: 48px;
}
.logmod__container {
  overflow: hidden;
  width: 100%;
}
.logmod__container::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__tab {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.logmod__tab-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.logmod__tab.show {
  opacity: 1;
  height: 100%;
  visibility: visible;
}
.logmod__tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}
.logmod__tabs::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__tabs li.current a {
  background: #FFF;
  color: #333;
}
.logmod__tabs li a {
  width: 50%;
  position: relative;
  float: left;
  text-align: center;
  background: #D2D8D8;
  line-height: 72px;
  height: 72px;
  text-decoration: none;
  color: #809191;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.logmod__tabs li a:focus {
  outline: dotted 1px;
}
.logmod__heading {
  text-align: center;
  padding: 12px 0 12px 0;
}
.logmod__heading-subtitle {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: #888;
  line-height: 48px;
}
.logmod__form {
  border-top: 1px solid #e5e5e5;
}
.logmod__alter {
  display: block;
  position: relative;
  margin-top: 7px;
}
.logmod__alter::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__alter .connect:last-child {
  border-radius: 0 0 4px 4px;
}

.connect {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
  line-height: 72px;
  text-decoration: none;
}
.connect::after {
  clear: both;
  content: "";
  display: table;
}
.connect:focus, .connect:hover, .connect:visited {
  color: #FFF;
  text-decoration: none;
}
.connect__icon {
  vertical-align: middle;
  float: left;
  width: 70px;
  text-align: center;
  font-size: 22px;
}
.connect__context {
  vertical-align: middle;
  text-align: center;
}
.connect.facebook {
  background: #3b5998;
  color: #FFF;
}
.connect.facebook a {
  color: #FFF;
}
.connect.facebook .connect__icon {
  background: #283d68;
}
.connect.googleplus {
  background: #dd4b39;
  color: #FFF;
}
.connect.googleplus a {
  color: #FFF;
}
.connect.googleplus .connect__icon {
  background: #b52f1f;
}

.simform {
  position: relative;
}
.simform__actions {
  padding: 15px;
  font-size: 14px;
}
.simform__actions::after {
  clear: both;
  content: "";
  display: table;
}
.simform__actions .sumbit {
  height: 48px;
  float: right;
  color: #FFF;
  width: 50%;
  font-weight: 700;
  font-size: 16px;
  background: #4CAF50;
  margin-top: 7px;
}
.simform__actions .sumbit::after {
  clear: both;
  content: "";
  display: table;
}
.simform__actions-sidetext {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 0 10px;
  margin: 9px 0 0 0;
  color: #8C979E;
  text-align: center;
  line-height: 24px;
}
.simform__actions-sidetext::after {
  clear: both;
  content: "";
  display: table;
}

.sminputs {
  border-bottom: 1px solid #E5E5E5;
}
.sminputs::after {
  clear: both;
  content: "";
  display: table;
}
.sminputs .input {
  display: block;
  position: relative;
  width: 50%;
  height: 71px;
  padding: 11px 24px;
  border-right: 1px solid #e5e5e5;
  border-bottom: none;
  float: left;
  background-color: #FFF;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sminputs .input.active {
  background: #eee;
}
.sminputs .input.active .hide-password {
  background: #eee;
}
.sminputs .input.full {
  width: 100%;
}
.sminputs .input label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
}
.sminputs .input input {
  postion: relative;
  display: inline-block;
  height: 24px;
  font-size: 15px;
  line-height: 19.2px;
  color: #555;
  border-radius: 4px;
  vertical-align: middle;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: none;
  padding: 0;
  background-color: transparent;
  color: rgba(75, 89, 102, 0.85);
}
.sminputs .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 15px;
  border-left: 1px solid #e4e4e4;
  font-size: 14px;
  background: #FFF;
  overflow: hidden;
  color: #444;
  cursor: pointer;
  margin-top: 12px;
  line-height: 48px;
}

html {
  font-size: 16px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
}

.btn, .simform__actions .sumbit {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  outline: none;
  outline-offset: 0;
  font-weight: 400;
  box-shadow: none;
  min-width: 90px;
  padding: 10px 14px;
}
.btn.full, .simform__actions .full.sumbit {
  width: 100%;
}
.btn.lg, .simform__actions .lg.sumbit {
  min-width: 125px;
  padding: 17px 14px;
  font-size: 22px;
  line-height: 1.3;
}
.btn.sm, .simform__actions .sm.sumbit {
  min-width: 65px;
  padding: 4px 12px;
  font-size: 14px;
}
.btn.xs, .simform__actions .xs.sumbit {
  min-width: 45px;
  padding: 2px 10px;
  font-size: 10px;
  line-height: 1.5;
}
.btn.circle, .simform__actions .circle.sumbit {
  overflow: hidden;
  width: 56px;
  height: 56px;
  min-width: 56px;
  line-height: 1;
  padding: 0;
  border-radius: 50%;
}
.btn.circle.lg, .simform__actions .circle.lg.sumbit {
  width: 78px;
  height: 78px;
  min-width: 78px;
}
.btn.circle.sm, .simform__actions .circle.sm.sumbit {
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.btn.circle.xs, .simform__actions .circle.xs.sumbit {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.btn:focus, .simform__actions .sumbit:focus, .btn:active, .simform__actions .sumbit:active, .btn.active, .simform__actions .active.sumbit, .btn:active:focus, .simform__actions .sumbit:active:focus, .btn.active:focus, .simform__actions .active.sumbit:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}
.btn.red, .simform__actions .red.sumbit {
  background: #f44336;
  color: #FFF;
}
.btn.red:active, .simform__actions .red.sumbit:active, .btn.red:focus, .simform__actions .red.sumbit:focus {
  background-color: #ef1d0d;
}
.btn.red:hover, .simform__actions .red.sumbit:hover {
  background-color: #f32c1e;
}
.btn.pink, .simform__actions .pink.sumbit {
  background: #E91E63;
  color: #FFF;
}
.btn.pink:active, .simform__actions .pink.sumbit:active, .btn.pink:focus, .simform__actions .pink.sumbit:focus {
  background-color: #c61350;
}
.btn.pink:hover, .simform__actions .pink.sumbit:hover {
  background-color: #d81558;
}
.btn.purple, .simform__actions .purple.sumbit {
  background: #9C27B0;
  color: #FFF;
}
.btn.purple:active, .simform__actions .purple.sumbit:active, .btn.purple:focus, .simform__actions .purple.sumbit:focus {
  background-color: #7b1f8a;
}
.btn.purple:hover, .simform__actions .purple.sumbit:hover {
  background-color: #89229b;
}
.btn.deep-purple, .simform__actions .deep-purple.sumbit {
  background: #673AB7;
  color: #FFF;
}
.btn.deep-purple:active, .simform__actions .deep-purple.sumbit:active, .btn.deep-purple:focus, .simform__actions .deep-purple.sumbit:focus {
  background-color: #532f94;
}
.btn.deep-purple:hover, .simform__actions .deep-purple.sumbit:hover {
  background-color: #5c34a4;
}
.btn.indigo, .simform__actions .indigo.sumbit {
  background: #3F51B5;
  color: #FFF;
}
.btn.indigo:active, .simform__actions .indigo.sumbit:active, .btn.indigo:focus, .simform__actions .indigo.sumbit:focus {
  background-color: #334293;
}
.btn.indigo:hover, .simform__actions .indigo.sumbit:hover {
  background-color: #3849a2;
}
.btn.blue, .simform__actions .blue.sumbit {
  background: #2196F3;
  color: #FFF;
}
.btn.blue:active, .simform__actions .blue.sumbit:active, .btn.blue:focus, .simform__actions .blue.sumbit:focus {
  background-color: #0c7fda;
}
.btn.blue:hover, .simform__actions .blue.sumbit:hover {
  background-color: #0d8aee;
}
.btn.light-blue, .simform__actions .light-blue.sumbit {
  background: #03A9F4;
  color: #FFF;
}
.btn.light-blue:active, .simform__actions .light-blue.sumbit:active, .btn.light-blue:focus, .simform__actions .light-blue.sumbit:focus {
  background-color: #028ac7;
}
.btn.light-blue:hover, .simform__actions .light-blue.sumbit:hover {
  background-color: #0398db;
}
.btn.cyan, .simform__actions .cyan.sumbit {
  background: #00BCD4;
  color: #FFF;
}
.btn.cyan:active, .simform__actions .cyan.sumbit:active, .btn.cyan:focus, .simform__actions .cyan.sumbit:focus {
  background-color: #0093a6;
}
.btn.cyan:hover, .simform__actions .cyan.sumbit:hover {
  background-color: #00a5bb;
}
.btn.teal, .simform__actions .teal.sumbit {
  background: #009688;
  color: #FFF;
}
.btn.teal:active, .simform__actions .teal.sumbit:active, .btn.teal:focus, .simform__actions .teal.sumbit:focus {
  background-color: #00685e;
}
.btn.teal:hover, .simform__actions .teal.sumbit:hover {
  background-color: #007d71;
}
.btn.green, .simform__actions .green.sumbit {
  background: #4CAF50;
  color: #FFF;
}
.btn.green:active, .simform__actions .green.sumbit:active, .btn.green:focus, .simform__actions .green.sumbit:focus {
  background-color: #3e8f41;
}
.btn.green:hover, .simform__actions .green.sumbit:hover {
  background-color: #449d48;
}
.btn.light-green, .simform__actions .light-green.sumbit {
  background: #8BC34A;
  color: #FFF;
}
.btn.light-green:active, .simform__actions .light-green.sumbit:active, .btn.light-green:focus, .simform__actions .light-green.sumbit:focus {
  background-color: #74a838;
}
.btn.light-green:hover, .simform__actions .light-green.sumbit:hover {
  background-color: #7eb73d;
}
.btn.lime, .simform__actions .lime.sumbit {
  background: #CDDC39;
  color: #FFF;
}
.btn.lime:active, .simform__actions .lime.sumbit:active, .btn.lime:focus, .simform__actions .lime.sumbit:focus {
  background-color: #b6c423;
}
.btn.lime:hover, .simform__actions .lime.sumbit:hover {
  background-color: #c6d626;
}
.btn.yellow, .simform__actions .yellow.sumbit {
  background: #FFEB3B;
  color: #FFF;
}
.btn.yellow:active, .simform__actions .yellow.sumbit:active, .btn.yellow:focus, .simform__actions .yellow.sumbit:focus {
  background-color: #ffe60d;
}
.btn.yellow:hover, .simform__actions .yellow.sumbit:hover {
  background-color: #ffe822;
}
.btn.amber, .simform__actions .amber.sumbit {
  background: #FFC107;
  color: #FFF;
}
.btn.amber:active, .simform__actions .amber.sumbit:active, .btn.amber:focus, .simform__actions .amber.sumbit:focus {
  background-color: #d8a200;
}
.btn.amber:hover, .simform__actions .amber.sumbit:hover {
  background-color: #edb100;
}
.btn.orange, .simform__actions .orange.sumbit {
  background: #FF9800;
  color: #FFF;
}
.btn.orange:active, .simform__actions .orange.sumbit:active, .btn.orange:focus, .simform__actions .orange.sumbit:focus {
  background-color: #d17d00;
}
.btn.orange:hover, .simform__actions .orange.sumbit:hover {
  background-color: #e68900;
}
.btn.deep-orange, .simform__actions .deep-orange.sumbit {
  background: #FF5722;
  color: #FFF;
}
.btn.deep-orange:active, .simform__actions .deep-orange.sumbit:active, .btn.deep-orange:focus, .simform__actions .deep-orange.sumbit:focus {
  background-color: #f33a00;
}
.btn.deep-orange:hover, .simform__actions .deep-orange.sumbit:hover {
  background-color: #ff4409;
}
.btn.brown, .simform__actions .brown.sumbit {
  background: #795548;
  color: #FFF;
}
.btn.brown:active, .simform__actions .brown.sumbit:active, .btn.brown:focus, .simform__actions .brown.sumbit:focus {
  background-color: #5c4137;
}
.btn.brown:hover, .simform__actions .brown.sumbit:hover {
  background-color: #694a3e;
}
.btn.grey, .simform__actions .grey.sumbit {
  background: #9E9E9E;
  color: #FFF;
}
.btn.grey:active, .simform__actions .grey.sumbit:active, .btn.grey:focus, .simform__actions .grey.sumbit:focus {
  background-color: #878787;
}
.btn.grey:hover, .simform__actions .grey.sumbit:hover {
  background-color: #919191;
}
.btn.blue-grey, .simform__actions .blue-grey.sumbit {
  background: #607D8B;
  color: #FFF;
}
.btn.blue-grey:active, .simform__actions .blue-grey.sumbit:active, .btn.blue-grey:focus, .simform__actions .blue-grey.sumbit:focus {
  background-color: #4d6570;
}
.btn.blue-grey:hover, .simform__actions .blue-grey.sumbit:hover {
  background-color: #566f7c;
}

.special {
  color: #f44336;
  position: relative;
  text-decoration: none;
  transition: all 0.15s ease-out;
}
.special:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  left: 0;
  background: #f00;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.special:hover {
  transition: all 0.15s ease-out;
}
.special:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#baseline {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-image: url(http://basehold.it/i/24);
}

.rulelists {
  list-style-type: none;
}
