<footer class="footer">
  <small>
    <%= link_to "Docker-War", "https://github.com/qazbnm456/Docker-War", :target => '_blank' %> by Lobsiinvok
  </small>
  <nav>
    <ul>
      <li><%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %></li>
      <li><%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %></li>
      <li><%= link_to t("layout_footer.about"), about_path %></li>
    </ul>
  </nav>
</footer>